<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">

<body>
  <main class="container-fluid">
    <!--Administrador de productos-->
    <br>
    <section class="row">
      <article class="col-12 ">
        <h2 class="display-4 text-white bg-info text-center pt-2">Administrador de Productos</h2>
      </article>
      <article class="col-12">
        <a href="/admin/create">
          <ion-icon name="add-circle-outline"></ion-icon>Agregar
        </a>
      </article>
      <article class="col-12">

        <% allProducts.forEach(product=> { %>

          <table class="default" border="1">

            <tr>
              <th>id</th>
              
              <th>Nombre</th>

              <th>Ver</th>

              <th>Editar</th>

              <th>Eliminar</th>

            </tr>

            <tr>
              <td scope="col">
                <%= product.id %>
              </td>
              <td scope="col">
                <%= product.name %>
              </td>
              <td><a href="/admin/editdetail/<%= product.id %>">
                  <ion-icon name="eye-outline"></ion-icon>VER
                </a></td>
              <td><a href="/admin/edit/<%= product.id %>">
                  <ion-icon name="pencil-outline"></ion-icon>EDITAR
                </a></td>
              <td><a href="/admin/delete/<%= product.id %>">
                  <ion-icon name="trash-outline"></ion-icon>ELIMINAR
                </a></td>

            </tr>

          </table>
          <% }) %>

    </section>
    <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
  </main>
</body>

</html>