<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main class="main-edit-products">
                <h3>EDITAR PRODUCTO de editProduct</h3>
                <% editProduct.forEach(product=> { %>

                    <form action="/admin/edit/<%= product.id %>?_method=PUT" method="POST" class="form-edit-products"
                        enctype="multipart/form-data">
                        <label for="name_edit_product" id="name_edit_product">Nombre:</label>
                        <input type="text" name="name_edit_product" id="name_edit_product" value="<%= product.name %>"
                            required>

                        <label for="description_edit_product" id="description_edit_product">Descripción:</label>
                        <input type="textarea" name="description_edit_product" id="description_edit_product"
                            value="<%= product.description %>" required>


                        <label for="image_edit_product" id="image_edit_product">Imagen</label>
                        <input type="file" name="image_edit_product" id="image_edit_product"
                            accept="image/png, image/jpeg, image/jpg">

                        <label for="category_edit_product" id="category_edit_product">Categoría</label>
                        <select name="category_edit_product" id="category_edit_product">
                            <option value="">Elija una categoría</option>
                            <option value="lotion" <%=product.category=="lotion" ? "selected" : "" %>>Loción</option>
                            <option value="oil" <%=product.category=="oil" ? "selected" : "" %>>Aceite</option>
                            <option value="liquid" <%=product.category=="liquid" ? "selected" : "" %>>Líquido</option>
                            <option value="gel" <%=product.category=="gel" ? "selected" : "" %>>Gel</option>
                            <option value="cream" <%=product.category=="cream" ? "selected" : "" %>>Crema</option>
                        </select>

                        <label for="amount_edit_product" id="amount_edit_product">Cantidad</label>
                        <input type="number" name="amount_edit_product" id="amount_edit_product" value="50" required>

                        <label for="type_amount_edit_product" id="type_amount_edit_product">Tipo de Cantidad</label>
                        <select name="type_amount_edit_product" id="type_amount_edit_product">
                            <option value="">Elija un tipo de cantidad</option>
                            <option value="ml" <%=product.typeAmount=="ml" ? "selected" : "" %>>Milílitros (ml.)
                            </option>
                            <option value="floz" <%=product.typeAmount=="floz" ? "selected" : "" %>>Onzas fluidas (fl.
                                oz.)</option>
                        </select>

                        <label for="price_edit_product" id="price_edit_product">Precio</label>
                        <input type="number" name="price_edit_product" id="price_edit_product"
                            value="<%= product.price %>" required>

                        <div class="div_discount_edit_product">
                            <label for="discount_edit_product" id="discount_edit_product">Descuento</label>

                            <label><input type="radio" name="discount_edit_product" value="0" <%=product.discount=="0"
                                    ? "checked" : "" %>>Sin descuento</label>
                            <label><input type="radio" name="discount_edit_product" value="5" <%=product.discount=="5"
                                    ? "checked" : "" %>>5 %</label>
                            <label><input type="radio" name="discount_edit_product" value="10" <%=product.discount=="10"
                                    ? "checked" : "" %>>10 %</label>
                            <label><input type="radio" name="discount_edit_product" value="15" <%=product.discount=="15"
                                    ? "checked" : "" %>>15 %</label>
                            <label><input type="radio" name="discount_edit_product" value="20" <%=product.discount=="20"
                                    ? "checked" : "" %>>20 %</label>
                            <label><input type="radio" name="discount_edit_product" value="25" <%=product.discount=="25"
                                    ? "checked" : "" %>>25 %</label>
                            <label><input type="radio" name="discount_edit_product" value="30" <%=product.discount=="30"
                                    ? "checked" : "" %>>30 %</label>
                            <label><input type="radio" name="discount_edit_product" value="35" <%=product.discount=="35"
                                    ? "checked" : "" %>>35 %</label>
                            <label><input type="radio" name="discount_edit_product" value="40" <%=product.discount=="40"
                                    ? "checked" : "" %>>40 %</label>
                            <label><input type="radio" name="discount_edit_product" value="45" <%=product.discount=="45"
                                    ? "checked" : "" %>>45 %</label>
                            <label><input type="radio" name="discount_edit_product" value="50" <%=product.discount=="50"
                                    ? "checked" : "" %>>50 %</label>
                            <label><input type="radio" name="discount_edit_product" value="55" <%=product.discount=="55"
                                    ? "checked" : "" %>>55 %</label>
                            <label><input type="radio" name="discount_edit_product" value="60" <%=product.discount=="60"
                                    ? "checked" : "" %>>60 %</label>
                        </div>

                        <input type="submit" class="button-edit-produt" value="Editar el producto">

                        <p>Agregar un producto <a href="/newProducts">Ingresa aquí</a></p>
                    </form>
                    <% }) %>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>