<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main class="main_productDetail">

                <% editProduct.forEach(product=> { %>
                    <h2>
                        <%= product.name %>
                    </h2>
                    <div class="producto_info">

                        <div class="productdescript">

                            <article class="producto">
                                <img src="/images/<%= product.image %>" alt="Olympea Legend">
                                <p class="descripcion">Categoría: <%= product.category %></p>

                            </article>

                            <div class="miniatura">
                                <img src="/images/<%= product.image %>" alt="Olympea Legend">
                                <!-- <img src="/images/9.jpg" alt="Olympea amarillo"> -->
                            </div>

                            <div class="description">

                                <div class="uno">
                                    <i class="far fa-heart"></i>
                                    <p>
                                        <%= product.amount %>
                                            <%= product.typeAmount %>
                                    </p>
                                    <p class="cajita">-<%= product.discount %>%</p>
                                    <p>$<%= product.price %>
                                    </p>
                                    <p class="quantity"> <input type="button" value="-" class="minus"> <label
                                            class="screen-reader-text" for="quantity_61784a0446a52"></label>
                                        <input type="number" id="quantity_61784a0446a52" class="input-text qty text"
                                            step="1" min="1" max="99" name="quantity" value="1" title="Cantidad"
                                            size="4" placeholder="" inputmode="numeric">
                                        <input type="button" value="+" class="plus">

                                    </p>

                                </div>

                                <div class="comprar_ahora">
                                    <input type="submit" class="button-comprarAhora" value="Comprar Ahora">
                                    <input type="submit" class="button-AgregarCarrito" value="Agregar al carrito">

                                </div>

                            </div>

                        </div>

                        <div class="descripcion_detalle">
                            <div class="encabezado">
                                <h3 class="titulo">DESCRIPCION</h3>
                                <h3 class="titulo">CARACTERISTICAS</h3>
                                <h3 class="titulo">COMPARTIR</h3>

                            </div>

                            <p><%= product.description %></p>
                        </div>

                        <section class="for-buy">
                        </section>

                    </div>

                    <% }) %>
            </main>
            <%- include('./partials/footer') %>
    </body>
    </body>

</html>