<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main class="main_products">
                <div>
                    <h1>Todos los productos</h1>
                </div>
                <section class="products">
                    <% allProducts.forEach(product=> { %>
                        <article class="products_article">
                            <% for(let i=0; i < product.length; i++){ %>

                                <div>
                                    <h2>
                                        <%= product[i].name %>
                                    </h2>
                                    <a href="/products/detail"><img src="/images/products/<%= product[i].image %>"
                                            alt="" width="100px"></a>

                                    <h4>
                                        <%= product.category[i] %>
                                    </h4>
                                    <p>
                                        <%= product.amount[i] %> - <%= product.typeAmount[i] %>
                                    </p>
                                    <h6>
                                        <%= product.price[i] %> - <%= product.discount[i] %>
                                    </h6>
                                    <p>
                                        <%= product.description[i] %>
                                    </p>
                                </div>
                                <% } %>
                        </article>
                        <% }) %>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>