<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main class="main_products">
                <div>
                    <h1>Todos los productos</h1>
                </div>
                <section class="products">
                    <% allProducts.forEach(product=> { %>
                    <article class="products_article">
                        
                            <div>
                                <h2>
                                    <%= product.name %>
                                </h2>
                                <a href="/products/detail"><img src="/images/<%= product.image %>" alt=""
                                        width="100px"></a>

                                <h4>
                                    <%= product.category %>
                                </h4>
                                <p>
                                    <%= product.amount %> - <%= product.typeAmount %>
                                </p>
                                <h6>
                                    <%= product.price %> - <%= product.discount %>
                                </h6>
                                <p>
                                    <%= product.description %>
                                </p>
                            </div>
                    </article>
                    <% }) %>
                </section>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>