<!doctype html>
<html lang="en">
    <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main class="container-fluid">
      
      <!--Producto-->
      <br><br>
      <section class="row">
            <article class="col-12 col-md-6 mx-auto mt-5 producto">
                <figure class="imagenProducto">
                    <img src="/images/<%= product.image %>" alt="Olympea Legend">
                </figure> 
                <% if (miPerfume.descuento == 30) { %>
                  <img class="descuento" src="/img/promo30.png" alt="Descuento 30%">
                <% } else if(miPerfume.descuento == 15){%>
                  <img class="descuento" src="/img/promo15.png" alt="Descuento 15%">
                <%}%>
                <div class="card-body">
                  <h5 class="card-title"><%= miPerfume.nombre%></h5>
                  <h5 class="card-title">$ <%= miPerfume.precio %></h5>
                  <p class="card-text"><%= miPerfume.descripcion %></p>
                  
                </div>
                <a href="/administrar" class="btn btn-danger">Volver</a>
            </article>
      </section>
    </main>
    <%- include('./partials/footer') %>    
  </body>
</html>

