<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main class="main-register">
        <h3>REGISTRATE HOMBRE</h3>
        <% if(typeof(errors) != 'undefined'){%>
            <span style="color: red;">
               <% errors.forEach(error => { %>
                  <li><%= error.msg%></li>
               <%});%>
            </span>
         <%}%>
        <form  method="post" action="/user/registro" class="form-register" enctype="multipart/form-data" >
            <label for="name-new-user" id="name-new-user">Nombre(s)*</label>
            <input type="text" name="name" id="name" placeholder="Ingrese Nombre" required value="<%= typeof old != 'undefined' ? old.name : '' %>">

            <label for="lastname-new-user" id="lastname-new-user">Apellidos(s)*</label>
            <input type="text" name="lastname" id="lastname" placeholder="Ingrese Apellido" required value="<%= typeof old != 'undefined' ? old.lastname : '' %>">
            

            <label for="email-new-user" id="email-new-user">Email*</label>
            <input type="email" name="email" id="email" placeholder="Ingrese Correo" required value="<%= typeof old != 'undefined' ? old.email : '' %>">  

            <label for="password-user" id="password-user">Contraseña*</label>
            <input type="password" name="password" id="password" placeholder="Ingrese Contraseña" required>
            
            <label for="avatar-user" id="avatar-user">Elije una foto de perfil*</label>
            <input type= "file" name = "avatar" >  


            <p>¿Ya tienes una cuenta?<a href="/login">Ingresa aquí</a></p>

            <input type="submit" class="button-register" value="Registrarse">
        </form>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>
